.item {
  @apply relative flex flex-1 flex-col 
    md:pt-[128px] sm:pt-[110px] pt-[30px] md:pb-[60px] pb-[30px] md:px-[40px] px-[25px]
    sm:max-w-[370px] w-full
    sm:h-[400px] h-full
    sm:mb-0 mb-7 mr-0
    sm:mr-[30px] last:mr-0
    overflow-hidden;

  &:before {
    @apply absolute content-[''] inset-0 z-[1] opacity-[1] rounded-[20px];

    transition: opacity 0.25s linear;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }

  &:hover::before {
    @apply opacity-[1];
  }

  .quotes {
    @apply absolute xs:block hidden 
      sm:top-[60px] top-auto
      md:left-[40px] sm:left-[25px] left-auto
      sm:right-auto right-[20px] 
      sm:bottom-auto bottom-[45px] z-10;
  }

  .content {
    @apply flex flex-col justify-between z-10 h-full text-white;
    align-content: stretch;

    .descr_width {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .human {
      @apply flex items-center flex-row sm:flex-col md:flex-row sm:mt-0 mt-2;

      > img {
        @apply w-[48px] h-[48px] object-contain md:mr-4 sm:mr-0 mr-4 md:mb-0 sm:mb-3 mb-0;
      }

      .about {
        @apply font-poppins not-italic font-normal;
      }

      .name {
        @apply w-full leading-[32px] lg:text-[20px] text-[14px] whitespace-nowrap;
      }

      .info {
        @apply w-full leading-[24px] opacity-50 lg:text-[16px] text-[12px] whitespace-nowrap;
      }
    }
  }
}
