.home {
  @apply w-full flex 
    sd:flex-row flex-col
    lg:pb-[130px] sd:pb-[50px] pb-0 
    sm:mt-[100px] mt-[30px]
    sm:pt-[30px] pt-[90px];

  .content {
    @apply relative;

    .discount {
      @apply inline-flex flex-row items-center 
        py-[6px] px-4 rounded-[10px] mb-2 grey-gradient;

      > img {
        @apply w-[32px] h-[32px] 
          hidden xs:inline-block;
      }

      .text {
        @apply ml-2 paragraph uppercase 
          sm:text-[18px] text-[12px];

        > span {
          @apply text-white;
        }
      }
    }

    .main_title {
      @apply lg:text-7xl lg:my-10
        sd:text-6xl sd:leading-[1.2]
        xs:text-5xl xs:leading-[1.4]
        leading-[1.3]
        text-4xl my-5 
        font-semibold text-white;

      > span {
        @apply block;
      }
    }
  }

  .descr_width {
    @apply sd:w-[570px];
  }

  .text_gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .descr {
    @apply max-w-[570px] w-full mt-6;
  }

  .cards {
    @apply h-auto w-[100%] relative z-[5] object-contain pointer-events-none;
  }

  .images {
    @apply flex-1 flex max-w-[650px] relative m-[30px_auto_0]
      min-w-[220px] xs:min-w-[300px] 
      md:my-0 my-10;

    .ball_1,
    .ball_2,
    .ball_3 {
      @apply hidden absolute z-10 sd:inline-block;
    }

    .ball_1 {
      @apply top-[-35px] left-[40px] h-[60px]
        md:top-[10px] md:left-[70px] 
        lg:h-[90px] lg:top-[-30px]
        animate-move;
    }

    .ball_2 {
      @apply bottom-[170px] right-[-20px] h-[40px] 
        lg:h-[70px] lg:right-[0px] 
        animate-[move_40s_linear_infinite];
    }

    .ball_3 {
      @apply bottom-[10px] right-[100px] h-[30px]
        md:bottom-[20px] md:right-[120px] 
        lg:h-[60px] lg:bottom-3 lg:right-[100px] 
        animate-[move_30s_linear_infinite];
    }
  }

  .gradient_grey {
    @apply absolute top-[120px] left-[-100px] w-[20%] h-[50%] bg-white;
    filter: blur(160px);
  }

  .gradient_pink {
    @apply absolute z-[0] w-[40%] h-[35%] top-0 pink__gradient;
  }

  .gradient_white {
    @apply absolute z-[1] w-[80%] h-[80%] rounded-full white__gradient bottom-40;
  }

  .gradient_blue {
    @apply absolute z-[0] w-[50%] h-[50%] right-20 bottom-20 blue__gradient;
  }
}
